:root{
    --red: #FF6B6B;
    --red-hover: #db5d47;;
    --grey99: #3C3B34;
    --grey70: #9B9A92;
    --grey50: #C6C5BD;
    --grey20: #EAEAE6;
    --background-grey: #F6F6F4;
    --white: #fff;
    --font-regular: 'aktiv-grotesk';
    --font-bold: 'aktiv-grotesk-bd';
}

h1{
    font-family: aktiv-grotesk-bd, sans-serif;
    color: var(--grey99);
}

h2{
    font-family: aktiv-grotesk-bd, sans-serif;
}

/*Paragraph title*/
.title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--grey70);
    padding-bottom: 2rem;
}

p {
    color: var(--grey99);
    font-family: aktiv-grotesk, sans-serif;
    line-height: 1.7;
}

.steps-omschrijving{
    font-size: 1.1em;
}
.underline {
    text-decoration: underline;
    text-decoration-color: var(--red);
    text-decoration-thickness: 7px;
}

/*Regular*/
@font-face {
    font-family: aktiv-grotesk;
    src: url(../font/AktivGrotesk_Rg.ttf);
  }

  /*Bold*/
@font-face { 
 font-family: aktiv-grotesk-bd;
src: url(../font/AktivGrotesk_Bd.ttf);
 }

 * {
    box-sizing: border-box;
}

body {
    font-family: aktiv-grotesk, 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var(--background-grey);
}

.container {
    width: 1100px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}


/*Steps*/

li, ul, p, h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}


h3 {
  position: relative;
  font-family: aktiv-grotesk-bd, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0.3em;
}

/*Underline h3*/
h3:after {
    content: '';
  background-color: var(--red);
  width: 80%;
  height: 0.17em;
  display: block;
  margin-top: 4px;

}

.undertitle {
    font-family: AktivGrotesk_Bd, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--grey99);
}

.steps {
  background-color: #fefefe;
  max-width: 900px;
  margin: 40px auto;
  padding-right: 1em;
  display: grid;
  grid-template-columns: 1fr 420px;
  grid-gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 2px 20px 0 rgba(143, 143, 143, 0.19);
}

.left {
    float: left;
    display: grid;

}
.right {
    float: right;
    display: grid;

}
.stappen-details {
  width: 90%;
  margin: 2em;
  display: grid;
  align-items: center;
}
/* End steps*/

/* Start Landing Page */

.main {
    position: relative;
    background-color: var(--background-grey);
}

.main .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
    font-size: 15px;
}

.main .header-area .logo {
    margin-top: 10px;
}

.main .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.main .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: var(--grey99);
    cursor: pointer;
}

.main .header-area .links li:last-child {
    border: 0;
    padding: 10px 19px;
    color: var(--white);
    background-color: var(--red);
    font-weight: bold;
    font-size: 14px;
}

.main .header-area .links li:last-child:hover {
        background-color: var(--red-hover);
}

.main .info {
    width: 50%;
    float: left;
    margin-top: 130px;
    margin-bottom: 5rem;
}

.main .info h1 {
    font-size: 3.5rem;
    margin: 0 0 20px;
    line-height: 1.4;
    color: var(--grey99);
}

.main .info .intro {
    margin: 0;
    line-height: 1.6;
    font-size: 1.3rem;
}

/*Buttons*/
.main .info .consult-button {
    border: 0;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 30px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--red);
}

.info .consult-button:hover{
    background-color: var(--red-hover);
    transition: 0.3s;
}

.discover-button {
    border: 2px solid var(--grey99);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: var(--grey99);
    background-color: var(--white);
}

.info .discover-button:hover{
 border: 0;
 padding: 11.5px 30px;
 color: var(--white);
 background-color: var(--red-hover);
 transition: 0.3s;
}

/*Afbeelding voorpagina*/
.main .image-front {
    width: 50%;
    float: right;
    margin-top: 5em;
}

.main .image-front img {
    max-width: 100%;
}

/* AI Design Sprint section */
.design-sprint{
    background-color: var(--grey20);
    position: relative;
    padding: 50px 30px;
    margin-bottom: 5em;
}
.info-sprint p{
 padding: 5px;
 font-size: 1.1rem;
 text-align: center;
 max-width: 40em;
 margin: 0 auto;
 line-height: 1.7;
}

.info-sprint h2{
   text-align: center;
   font-size: 2rem;
}

p span {
    display: block;
}

.clearfix {
  clear: both;
}


/*Media queries*/
@media only screen and (max-width: 767px) {

    body {
        font-family: aktiv-grotesk, 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .container{
        width: 760px;
        display: grid;
    }

    .main .info {
        width: 78%;
        float: left;
        margin-top: 130px;
        margin-bottom: 5rem;
    }

    .main .info p {
        margin: 0;
        line-height: 1.6;
        font-size: 1.25rem;
    }

    .main .info h1 {
        font-size: 2.5rem;
        margin: 0 0 20px;
        line-height: 1.4;
        color: var(--grey99);
    }

    .underline {
        text-decoration: underline;
        text-decoration-color: var(--red);
        text-decoration-thickness: 5px;
    }

    .main .header-area {
       display: grid;
     padding: 2rem 0 7rem;
      position:  relative;
        font-size: 0.8rem;
    }

    .main .header-area .links {
        list-style: none;
        padding:0;
        margin: 0;
        width: 100%;
        text-align: right;
        font-size: 13px;
        font-family: aktiv-grotesk-bd, sans-serif;
    }

    .main .header-area .links li {
       display: inline;
       float: left;
        margin-left: 1rem;
        margin-bottom: 10em;
        color: var(--grey99);
        cursor: pointer;
        padding: 5px;
    }
    
    .main .header-area .links li:last-child {
        border: 0;
        padding: 5px;
        color: var(--grey99);
        background-color: var(--background-grey);
        font-weight: normal;
        font-size: 13px;
        font-family: aktiv-grotesk-bd, sans-serif;
    }

    .main .header-area .links li:last-child:hover {
        background-color: var(--background-grey);
}

.main .image-front {
    width: 50%;
    margin-left: 2rem;
    margin-top: -65rem;
   }

   .main .image-front img {
    max-width: 135%;
}

    
.steps {
    background-color: #fefefe;
    max-width: 640px;
    margin: 30px auto;
    padding-right: 2em;
    margin-right: 0.7em;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 2px 20px 0 rgba(143, 143, 143, 0.19);
  }

  .right {
    float: left;
    justify-content: center;
}
}

/*
@media only screen and (max-width: 1024px){

        body {
            font-family: aktiv-grotesk, 'Open Sans', sans-serif;
            font-size: 12px;
        }
    
        .container{
            width: 900px;
            display: grid;
        }
        .main {
            position: relative;
            background-color: var(--background-grey);
        }

        .main .info {
            width: 75%;
            float: left;
            margin-top: 130px;
            margin-bottom: 5rem;
        }
        
        .main .info p {
            margin: 0;
            line-height: 1.4;
            font-size: 1rem;
        }
    
        .main .info h1 {
            font-size: 2rem;
            margin: 0 0 20px;
            line-height: 1.4;
            color: var(--grey99);
        }
    
        .underline {
            text-decoration: underline;
            text-decoration-color: var(--red);
            text-decoration-thickness: 5px;
        }
    
        .main .header-area {
           display: grid;
         padding: 2rem 0 7rem;
          position:  relative;
            font-size: 0.8rem;
        }
    
        .main .header-area .links {
            list-style: none;
            padding:0;
            margin: 0;
            width: 100%;
            text-align: right;
            font-size: 13px;
            font-family: aktiv-grotesk-bd, sans-serif;
        }
    
        .main .header-area .links li {
           display: inline;
           float: left;
            margin-left: 1rem;
            margin-bottom: 10rem;
            color: var(--grey99);
            cursor: pointer;
            padding: 5px;
        }
        
        .main .header-area .links li:last-child {
            border: 0;
            padding: 5px;
            color: var(--grey99);
            background-color: var(--background-grey);
            font-weight: normal;
            font-size: 13px;
            font-family: aktiv-grotesk-bd, sans-serif;
        }
    
        .main .header-area .links li:last-child:hover {
            background-color: var(--background-grey);
    }
    
    .main .image-front {
        width: 50%;
        margin-left: 2rem;
        margin-top: -60rem;
       }

       .main .image-front img {
        max-width: 135%;
    }
    
    h3:after {
        content: '';
      background-color: var(--red);
      width: 80%;
      height: 0.17em;
      display: block;
      margin-top: 4px;
    
    }
    
    .undertitle {
        font-family: AktivGrotesk_Bd, sans-serif;
        font-size: 1.4em;
        font-weight: bold;
        color: var(--grey99);
    }
    
    .steps {
      background-color: #fefefe;
      max-width: 630px;
      margin: 30px auto;
      padding-right: 2em;
      margin-right: 0.7em;
      display: grid;
      grid-template-columns: 1fr 300px;
      grid-gap: 10px;
      box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 2px 20px 0 rgba(143, 143, 143, 0.19);
    }
    
    .right {
        float: left;
        justify-content: center;
    }

    .stappen-details {
      width: 90%;
      margin: 2em;
      display: grid;
      align-items: center;
    }
    }
    */